html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  background: rgb(12, 9, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scoreBar {
  margin: 20px;
}

.top-score {
  width: 90vw;
  height: 20px;
  border: 2px solid red;
  background: rgb(216, 216, 186);
}

#score {
  background: red;
  height: 100%;
  width: 0;
}

.scoreNum {
  display: flex;
  justify-content: space-between;
}
.scoreNum h2 {
  color: rgb(161, 161, 161);
}

section.board {
  background: #acabab;
  display: grid;
  width: 24.5rem;
  grid-template-rows: repeat(4, 6rem);
  grid-template-columns: repeat(4, 6rem);
  grid-gap: 0vmin;
  margin: 0.5rem;
  border: 0.3rem solid rgb(211, 241, 250);
}

.sqr {
  border: 0.3rem solid rgb(211, 241, 250);
  font-size: 8vmin;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sqr p {
  color: white;
}

.num2 {
  background: #c0b2b2;
  font-size: 3rem;
}

.num4 {
  background: #b38a8a;
  font-size: 3rem;
}

.num8 {
  background: #936868;
  font-size: 3rem;
}

.num16 {
  background: #813f3f;
  font-size: 3rem;
}

.num32 {
  background: #521a1a;
  font-size: 3rem;
}

.num64 {
  background: #941e1e;
  font-size: 3rem;
}

.num128 {
  background: #d34141;
  font-size: 2.75rem;
}

.num256 {
  background: #f9532f;
  font-size: 2.75rem;
}

.num512 {
  background: #f26b09;
  font-size: 2.75rem;
}

.num1024 {
  background: #f85d03;
  font-size: 2.3rem;
}

.num2048 {
  background: #be4400;
  font-size: 2.3rem;
}

.num4096 {
  background: linear-gradient(45deg, #fd0505, rgb(245, 225, 47));
  font-size: 2.3rem;
}

.num8192 {
  background: linear-gradient(45deg, #fd7d05, rgb(159, 245, 47));
  font-size: 2.3rem;
}

.num16384 {
  background: linear-gradient(45deg, #fdc305, rgb(52, 255, 2));
  font-size: 1.9rem;
}

.num32768 {
  background: linear-gradient(45deg, #a6fd05, rgb(72, 209, 233));
  font-size: 1.8rem;
}

.num65536 {
  background: linear-gradient(45deg, #05c3fd, rgb(182, 47, 245));
  font-size: 1.8rem;
}

.num0 {
  background: #acabab;
}

.menu-modal-container,
.win-modal-container,
.failed-modal-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.menu-modal-container.show,
.win-modal-container.show,
.failed-modal-container.show {
  pointer-events: auto;
  opacity: 1;
}

.menu-modal {
  background-color: #52f075;
  width: 400px;
  max-width: 100%;
  height: 500px;
  border: none;
  border-radius: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.win-modal,
.failed-modal {
  background-color: #52f075;
  width: 400px;
  max-width: 100%;
  height: 300px;
  border: none;
  border-radius: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  background-color: #5e67bb;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 24px;
}

#menu {
  background: linear-gradient(270deg, rgb(239, 85, 36), rgb(33, 121, 203));
}

#restart {
  background: linear-gradient(270deg, rgb(33, 121, 203), rgb(239, 85, 36));
}/*# sourceMappingURL=style.css.map */