html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
  // box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  background: rgb(12, 9, 0);
  // background: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  color: white;
  font-size: 3rem;
  text-align: center;
}
.scoreBar {
  margin: 10px;
}
.top-score {
  width: 90vw;
  height: 20px;
  border: 2px solid red;
  background: rgb(216, 216, 186);
}
#score {
  background: red;
  height: 100%;
  width: 0;
}
.scoreNum {
  display: flex;
  justify-content: space-between;
  h2 {
    color: rgb(161, 161, 161);
  }
}

section.board {
  background: #acabab;
  display: grid;
  width: 24.5rem;
  grid-template-rows: repeat(4, 6rem);
  grid-template-columns: repeat(4, 6rem);
  grid-gap: 0;
  margin: 0.5rem;
  border: 0.3rem solid rgb(211, 241, 250);
  border-radius: 16px;
  .sqr {
    border: 0.3rem solid rgb(211, 241, 250);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    p {
      color: white;
    }
  }
  .num2,
  .num4096,
  .num8192,
  .num16384,
  .num32768 {
    p {
      color: rgb(56, 46, 46);
    }
  }
}

.num2 {
  background: #c0b2b2;
  font-size: 3rem;
}
.num4 {
  background: #b38a8a;
  font-size: 3rem;
}
.num8 {
  background: #936868;
  font-size: 3rem;
}
.num16 {
  background: #813f3f;
  font-size: 3rem;
}
.num32 {
  background: #521a1a;
  font-size: 3rem;
}
.num64 {
  background: #941e1e;
  font-size: 3rem;
}
.num128 {
  background: #d34141;
  font-size: 2.75rem;
}
.num256 {
  background: #f9532f;
  font-size: 2.75rem;
}
.num512 {
  background: #f26b09;
  font-size: 2.75rem;
}
.num1024 {
  background: #f85d03;
  font-size: 2.3rem;
}
.num2048 {
  background: #be4400;
  font-size: 2.3rem;
}
.num4096 {
  background: linear-gradient(45deg, #fd0505, rgb(245, 225, 47));
  font-size: 2.3rem;
}
.num8192 {
  background: linear-gradient(45deg, #fd7d05, rgb(159, 245, 47));
  font-size: 2.3rem;
}
.num16384 {
  background: linear-gradient(45deg, #fdc305, rgb(52, 255, 2));
  font-size: 1.9rem;
}
.num32768 {
  background: linear-gradient(45deg, #a6fd05, rgb(72, 209, 233));
  font-size: 1.8rem;
}
.num65536 {
  background: linear-gradient(45deg, #05c3fd, rgb(182, 47, 245));
  font-size: 1.8rem;
}
.num0 {
  background: #acabab;
}

.btn {
  width: 350px;
  display: flex;
  justify-content: space-around;
}

.rule {
  width: 500px;
  height: 300px;
  background: #8e9dc5;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  h3 {
    color: whitesmoke;
    padding: 10px;
  }
  p {
    color: whitesmoke;
    margin: 1rem 0;
  }
}

.menu-modal-container,
.win-modal-container,
.failed-modal-container,
.rule-modal {
  width: 100vw;
  height: 100vh;
  max-height: 720px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;

  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.menu-modal-container.show,
.win-modal-container.show,
.failed-modal-container.show,
.rule-modal.show {
  pointer-events: auto;
  opacity: 1;
}

.menu-modal,
.win-modal,
.failed-modal {
  background-color: #8e9dc5;
  width: 400px;
  max-width: 100%;
  height: 200px;
  // opacity: 0.8;
  border: none;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.win-modal,
.failed-modal {
  h4 {
    text-align: center;
    margin: 25px;
  }
}

button {
  background-color: #404baf;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 24px;
}

button:hover {
  background-color: #222fa3;
  color: rgb(250, 215, 150);
}

#menu {
  background: linear-gradient(270deg, rgb(239, 85, 36), rgb(33, 121, 203));
}

#restart {
  background: linear-gradient(270deg, rgb(33, 121, 203), rgb(239, 85, 36));
}

.ruleBtn {
  background: linear-gradient(225deg, rgb(180, 24, 219), rgb(123, 243, 26));
}

.rule button {
  width: 100px;
  margin-top: 20px;
}

body.light-mode {
  background: whitesmoke;
  .title {
    color: rgb(44, 39, 39);
  }
  .top-score {
    border: 2px solid red;
    background: rgb(253, 253, 253);
  }
  .scoreNum {
    h2 {
      color: rgb(248, 64, 64);
    }
  }
  section.board {
    background: #575454;
    border: 0.3rem solid rgb(181, 229, 243);
    .sqr {
      border: 0.3rem solid rgb(181, 229, 243);
      p {
        color: #222fa3;
      }
    }
    .num128,
    .num256,
    .num2048 {
      p {
        color: #fdfdfd;
      }
    }
    .num4096 {
      p {
        color: #1b1717;
      }
    }
  }
  .num2 {
    background: #eedddd;
  }
  .num4 {
    background: #f7c7c7;
  }
  .num8 {
    background: #f8aeae;
  }
  .num16 {
    background: #fa9494;
  }
  .num32 {
    background: #f57575;
  }
  .num64 {
    background: #f85252;
  }
  .num128 {
    background: #f74444;
  }
  .num256 {
    background: #fa471e;
  }
  .num512 {
    background: #f89603;
  }
  .num1024 {
    background: #f8f403;
  }
  .num2048 {
    background: #ff0000;
  }
  .num4096 {
    background: linear-gradient(45deg, #fd0505, rgb(245, 225, 47));
  }
  .num8192 {
    background: linear-gradient(45deg, #fd7d05, rgb(159, 245, 47));
  }
  .num16384 {
    background: linear-gradient(45deg, #fdc305, rgb(52, 255, 2));
  }
  .num32768 {
    background: linear-gradient(45deg, #a6fd05, rgb(72, 209, 233));
  }
  .num65536 {
    background: linear-gradient(45deg, #05c3fd, rgb(182, 47, 245));
  }
  .num0 {
    background: #c5b4b4;
  }
  .menu-modal,
  .win-modal,
  .failed-modal {
    background-color: #45506e;
  }
  button {
    background-color: #ebe85d;
    color: #222fa3;
  }
  button:hover {
    background-color: #222fa3;
    color: rgb(250, 215, 150);
  }
  #menu {
    background: linear-gradient(270deg, rgb(239, 85, 36), rgb(33, 121, 203));
    color: white;
  }

  #restart {
    background: linear-gradient(270deg, rgb(33, 121, 203), rgb(239, 85, 36));
    color: white;
  }
  h4 {
    color: white;
  }
  .rule {
    h3 {
      color: rgb(46, 39, 39);
    }
    p {
      color: rgb(46, 39, 39);
    }
  }
}

body.rainbow-mode {
  justify-content: flex-start;
  background: linear-gradient(135deg, #f3ef10, rgb(10, 224, 240));
  height: 100vh;
  .title {
    color: rgb(44, 39, 39);
  }
  .top-score {
    border: 2px solid rgb(247, 244, 244);
    background: linear-gradient(90deg, rgb(10, 110, 240), #f3ab10);
  }
  .scoreNum {
    h2 {
      color: rgb(43, 47, 228);
    }
  }
  section.board {
    background: #575454;
    border: 0.3rem solid rgb(243, 172, 114);
    .sqr {
      border: 0.3rem solid rgb(243, 172, 114);
      p {
        color: #222fa3;
      }
    }
    .num4096,
    .num8192,
    .num16384,
    .num32768 {
      p {
        color: whitesmoke;
      }
    }
  }
  .num2 {
    background: linear-gradient(225deg, #faa3a3, rgb(253, 250, 54));
  }
  .num4 {
    background: linear-gradient(225deg, #f87171, rgb(221, 219, 82));
  }
  .num8 {
    background: linear-gradient(225deg, #f85353, rgb(192, 240, 22));
  }
  .num16 {
    background: linear-gradient(225deg, #e08548, rgb(153, 238, 84));
  }
  .num32 {
    background: linear-gradient(225deg, #f7873d, rgb(255, 251, 0));
  }
  .num64 {
    background: linear-gradient(225deg, #f8af10, rgb(115, 255, 0));
  }
  .num128 {
    background: linear-gradient(225deg, #f8e910, rgb(51, 255, 0));
  }
  .num256 {
    background: linear-gradient(225deg, #bafa53, rgb(47, 230, 236));
  }
  .num512 {
    background: linear-gradient(225deg, #72fc01, rgb(12, 179, 245));
  }
  .num1024 {
    background: linear-gradient(225deg, #5bf07b, rgb(53, 99, 250));
  }
  .num2048 {
    background: linear-gradient(225deg, #5bc1f0, rgb(216, 86, 248));
  }
  .num4096 {
    background: linear-gradient(225deg, #2267fc, rgb(252, 49, 225));
  }
  .num8192 {
    background: linear-gradient(225deg, #3f31fc, rgb(255, 12, 174));
  }
  .num16384 {
    background: linear-gradient(225deg, #5d22ff, rgb(253, 0, 63));
  }
  .num32768 {
    background: linear-gradient(225deg, #d322ff, rgb(0, 194, 253));
  }
  .num65536 {
    background: linear-gradient(225deg, #ff0a91, rgb(250, 246, 23));
  }
  .num0 {
    background: linear-gradient(225deg, #ff3c00, rgb(23, 167, 250));
  }
  .menu-modal,
  .win-modal,
  .failed-modal {
    background: linear-gradient(225deg, #00e1ff, rgb(216, 250, 23));
  }
  button {
    background-color: #ff8432;
    color: #222fa3;
  }
  button:hover {
    background-color: #f7d25a;
    color: rgb(61, 147, 245);
  }
  #menu {
    background: linear-gradient(90deg, rgb(229, 27, 247), rgb(255, 251, 24));
  }

  #restart {
    background: linear-gradient(90deg, rgb(255, 251, 24), rgb(36, 239, 63));
  }
}

@media screen and (min-height: 950px) {
  section.board {
    display: grid;
    width: 33rem;
    grid-template-rows: repeat(4, 8rem);
    grid-template-columns: repeat(4, 8rem);
    grid-gap: 0;
    margin: 0.5rem;
    border: 0.5rem solid rgb(211, 241, 250);
    border-radius: 24px;
    .sqr {
      border: 0.5rem solid rgb(211, 241, 250);
      border-radius: 14px;
    }
  }
  body.light-mode {
    section.board {
      display: grid;
      width: 33rem;
      grid-template-rows: repeat(4, 8rem);
      grid-template-columns: repeat(4, 8rem);
      grid-gap: 0;
      margin: 0.5rem;
      border: 0.5rem solid rgb(181, 229, 243);
      border-radius: 24px;
      .sqr {
        border: 0.5rem solid rgb(181, 229, 243);
        border-radius: 14px;
      }
    }
  }
  body.rainbow-mode {
    section.board {
      display: grid;
      width: 33rem;
      grid-template-rows: repeat(4, 8rem);
      grid-template-columns: repeat(4, 8rem);
      grid-gap: 0;
      margin: 0.5rem;
      border: 0.5rem solid rgb(243, 172, 114);
      border-radius: 24px;
      .sqr {
        border: 0.5rem solid rgb(243, 172, 114);
        border-radius: 14px;
      }
    }
  }
  .num16384 {
    font-size: 2rem;
  }
  .num32768 {
    font-size: 2rem;
  }
  .num65536 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 400px) {
  section.board {
    display: grid;
    width: 22.5rem;
    grid-template-rows: repeat(4, 5.5rem);
    grid-template-columns: repeat(4, 5.5rem);
    grid-gap: 0;
    margin: 0.5rem;
    border: 0.3rem solid rgb(211, 241, 250);
    border-radius: 18px;
    .sqr {
      border: 0.3rem solid rgb(211, 241, 250);
      border-radius: 10px;
    }
  }
  .rule {
    width: 350px;
  }
  body.light-mode {
    section.board {
      display: grid;
      width: 22.5rem;
      grid-template-rows: repeat(4, 5.5rem);
      grid-template-columns: repeat(4, 5.5rem);
      grid-gap: 0;
      margin: 0.5rem;
      border: 0.3rem solid rgb(181, 229, 243);
      border-radius: 18px;
      .sqr {
        border: 0.3rem solid rgb(181, 229, 243);
        border-radius: 10px;
      }
    }
  }
  body.rainbow-mode {
    section.board {
      display: grid;
      width: 22.5rem;
      grid-template-rows: repeat(4, 5.5rem);
      grid-template-columns: repeat(4, 5.5rem);
      grid-gap: 0;
      margin: 0.5rem;
      border: 0.3rem solid rgb(243, 172, 114);
      border-radius: 18px;
      .sqr {
        border: 0.3rem solid rgb(243, 172, 114);
        border-radius: 10px;
      }
    }
  }
  .num128 {
    font-size: 2.4rem;
  }
  .num256 {
    font-size: 2.4rem;
  }
  .num512 {
    font-size: 2.4rem;
  }
  .num1024 {
    font-size: 2.1rem;
  }
  .num2048 {
    font-size: 2.1rem;
  }
  .num4096 {
    font-size: 2.1rem;
  }
  .num8192 {
    font-size: 2.1rem;
  }
  .num16384 {
    font-size: 1.6rem;
  }
  .num32768 {
    font-size: 1.6rem;
  }
  .num65536 {
    font-size: 1.6rem;
  }
}
